Source: openmsx-catapult
Section: otherosfs
Priority: optional
Maintainer: Joost Yervante Damad <joost@lumatec.be>
Build-Depends: debhelper (>= 5.0.37.2), python-qt4 (>= 4.0.1), docbook-to-man, python-support (>=0.3), python
Standards-Version: 3.7.2
XS-Python-Version: >= 2.3, << 2.5

Package: openmsx-catapult
Architecture: all
Depends: openmsx (>= 0.6.1), python, python-qt4 (>= 4.0.1)
XB-Python-Version: ${python:Versions}
Description: GUI for openMSX
 openMSX catapult is a graphical frontend for the openMSX emulator
