#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PREFIX := debian/openmsx-catapult/usr
PY_SUP_PREFIX := $(PREFIX)/share/python-support/openmsx-catapult

build: build-stamp

build-stamp:
	dh_testdir

	$(MAKE) build
	docbook-to-man debian/openmsx-catapult.sgml > debian/openmsx-catapult.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) clean
	-rm -rf debian/openmsx-catapult
	-rm -f debian/openmsx-catapult.1
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install *.py $(PY_SUP_PREFIX)
	chmod a-x $(PY_SUP_PREFIX)/*.py
	chmod a+x $(PY_SUP_PREFIX)/catapult.py

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_pysupport
	dh_python
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	dh_installman debian/openmsx-catapult.1
	dh_link usr/share/python-support/openmsx-catapult/catapult.py usr/bin/openmsx-catapult
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
